/*

*/

.version.signatureowen /* version checker */
{
	color: #0000EE;
	background-color: #75A674;
}

#page
{
	z-index: 1;
	width: 750px;
	min-height: 222px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
}

#u40745
{
	z-index: 2;
	width: 750px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u40747-4
{
	z-index: 4;
	width: 114px;
	min-height: 20px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 272px;
}

#u40748-4
{
	z-index: 8;
	width: 139px;
	min-height: 20px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 272px;
}

#u40749-4
{
	z-index: 12;
	width: 121px;
	min-height: 20px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 541px;
}

#u40750-4
{
	z-index: 16;
	width: 121px;
	min-height: 20px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 541px;
}

#u40751-4
{
	z-index: 20;
	width: 36px;
	min-height: 35px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 24px;
	font-size: 20px;
	color: #15BB8C;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 244px;
}

#u40751-2
{
	padding-left: 13px;
	padding-top: 8px;
}

#u40752-4
{
	z-index: 24;
	width: 36px;
	min-height: 35px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 24px;
	font-size: 20px;
	color: #15BB8C;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 311px;
}

#u40752-2
{
	padding-left: 11px;
	padding-top: 7px;
}

#u40753-4
{
	z-index: 28;
	width: 36px;
	min-height: 35px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 24px;
	font-size: 20px;
	color: #15BB8C;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 375px;
}

#u40753-2
{
	padding-left: 12px;
	padding-top: 7px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 750px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

