/*

*/

.version.work_single /* version checker */
{
	color: #000011;
	background-color: #3F41C7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 390px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 510px;
	margin-left: auto;
	margin-right: auto;
}

#u16828
{
	z-index: 2;
	min-height: 1230px;
	background-color: #F4F4F4;
}

#u16828_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
	padding-top: 100px;
	padding-bottom: 150px;
}

#pbuttonu16831
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#buttonu16831
{
	z-index: 53;
	width: 176px;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u16832-5
{
	z-index: 54;
	width: 176px;
	min-height: 27px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	position: relative;
}

#buttonu16831.ButtonSelected #u16832-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 176px;
	margin: 0px;
}

#u16832-3
{
	padding-left: 24px;
}

#u16832-3.rtl-list
{
	padding-left: 0px;
	padding-right: 24px;
}

#u16832-3 > li:before
{
	content: '';
}

#u16833
{
	z-index: 59;
	width: 49px;
	height: 2px;
	border-style: solid;
	border-color: #F7F7F7;
	background-color: transparent;
	margin-left: 22px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	border-width: 0px 0px 0px 1px;
}

#buttonu16831:hover #u16833
{
	border-style: solid;
	border-color: #000000;
	width: 0px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px -2px 22px;
	border-width: 0px 0px 0px 50px;
}

#buttonu16831.ButtonSelected #u16833
{
	border-style: solid;
	border-color: #F7F7F7;
	width: 49px;
	height: 2px;
	min-height: 0px;
	margin: 0px 0px -2px 22px;
	border-width: 0px 0px 0px 1px;
}

#u16835-4
{
	z-index: 49;
	width: 580px;
	min-height: 54px;
	border-style: solid;
	border-width: 4px;
	border-color: #000000;
	padding-top: 6px;
	line-height: 41px;
	text-align: center;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 291px;
}

.slideLeft
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u16622-22
{
	z-index: 11;
	width: 270px;
	min-height: 448px;
	background-color: transparent;
	left: 1000px;
	margin-top: 108px;
	position: relative;
}

#u16622-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16622-7,#u16622-9,#u16622-11,#u16622-13,#u16622-15
{
	padding-top: 5px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u16622-4,#u16622-6,#u16622-8,#u16622-10,#u16622-12,#u16622-14
{
	color: #000000;
	font-family: '__Montserrat_5';
	font-weight: 400;
	line-height: 16px;
}

#u16622-16
{
	font-size: 14px;
	color: #000000;
	font-family: alice, serif;
	font-weight: 400;
}

#u16622-18
{
	text-align: right;
}

#u16622-2,#u16622-3,#u16622-17
{
	font-size: 14px;
	color: #000000;
}

#u16622-20
{
	font-size: 13px;
	text-align: right;
	line-height: 16px;
	padding-top: 10px;
	color: #7F7F7F;
}

#u16621-8
{
	z-index: 3;
	width: 870px;
	min-height: 337px;
	background-color: transparent;
	left: 100px;
	margin-top: 27px;
	position: relative;
}

#u16621-2
{
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#u16621-4
{
	font-size: 13px;
	line-height: 16px;
	padding-top: 10px;
	color: #7F7F7F;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

#u16621-6
{
	font-size: 13px;
	line-height: 16px;
	padding-top: 20px;
	color: #7F7F7F;
	font-family: '__Montserrat_5';
	font-weight: 400;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u16828-bw
{
	z-index: 2;
	min-height: 1230px;
	margin-top: 70px;
}

#slideshowu16723
{
	z-index: 33;
	width: 0.01px;
	height: 448px;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
}

#u16728
{
	position: absolute;
	width: 870px;
	height: 448px;
	background-color: transparent;
}

#u16728popup
{
	z-index: 34;
}

#u16737
{
	z-index: 35;
	width: 870px;
	height: 448px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u16800
{
	z-index: 37;
	width: 870px;
	height: 448px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u16809
{
	z-index: 39;
	width: 870px;
	height: 448px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u16818
{
	z-index: 41;
	width: 870px;
	height: 448px;
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	margin-right: -10000px;
	position: relative;
}

#u16745-3
{
	position: absolute;
	width: 415px;
	min-height: 428px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u16745-3:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.2);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 428px;
	width: 415px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.2);
}

#u16745-3popup
{
	z-index: 43;
}

#u16747-3
{
	position: absolute;
	width: 415px;
	min-height: 428px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 435px;
}

#u16747-3:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.2);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 428px;
	width: 415px;
	margin: 0px;
	-pie-background: rgba(255,255,255,0.2);
}

#u16747-3popup
{
	z-index: 46;
}

#u16745,#u16747
{
	padding-top: 200px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

.html
{
	background-color: #F4F4F4;
}

body
{
	position: relative;
	min-width: 1170px;
}

@font-face
{
	font-family: '__Montserrat_5';
	src: url('../fonts/montserrat-regular-webfont.eot');
	src: local('☺'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

