<div class="signupBox center container w-xxl w-auto-xs s" ng-controller="confirmPayment">
  <h2 class="confirmPay"><i class="fa fa-lg fa-check-circle" style="color:#33B6CC;" aria-hidden="true"></i> Confirm Payment</h2>
  <hr>
  <i style="color:#33B6CC;" class="fa fa-2x fa-gift fa-inverse"></i>
  <h3 class="packagePay" style="margin-top: 5px;">Package:</h3>
  <h4>{{package}}</h4>
  <hr>
  <i style="color:#33B6CC;" class="fa fa-2x fa-money" ></i>
  <h3 class="totalPay" style="margin-top: 5px;">Total Price:</h3>
  <h1>{{price}}</h1>
  <hr>
  <button class="btn btn-lg blueBack" ng-click="gotoPayment()" style="margin-bottom: 16px;"  width="95" height="57" alt="Buy" title="Buy Now with PayFast">Buy Now</button>

</div>