<div><div ng-controller="employmentHistory" class="empApplicants">
    <h4 ng-if="jobs.length == 0" class="white" style="text-align: center"><b>{{message}}</b></h4>
    <div style="margin-top:0px;" ng-if="job.applications.length > 0" ng-repeat="job in jobs" class="jobApps">
        <div class="applicantsHead blueBack" ng-click="toggleApplicants(job._id)">
            <div ng-if="job.post.category != 'Other'" class="appHeading">
                {{job.post.category}}
            </div>
            <div ng-if="job.post.category == 'Other'" class="appHeading">
                {{job.post.OtherCategory}}
            </div>
            <div class="applicantsDateHead tableAddSmall">{{job.post.startingDate}}</div>

            <div class="pull-right cheviBox">
                <span ng-if="job.show" class=" glyphicon glyphicon-chevron-up"></span>
                <span ng-if="!job.show" class=" glyphicon glyphicon-chevron-down"></span>
            </div>
        </div>


        <div ng-if="job.show">
            <table class="table applicantsTables">
                <thead>
                <th></th>
                <th class="tableAddSmallEmpHist"></th>
                <th>Student</th>
                <th class="tableAdd"></th>
                <th class="tableAddSmall">Comment</th>
                <th >Rating</th>
                <td></td>

                </thead>
                <tbody>
                <tr ng-mouseleave="unhighlightChildren($event)" ng-mouseover="highlightChildren($event)" ng-repeat="app in job.applications"  style="cursor: pointer;">
                    <td ng-click="getApplicant(app.studentID._id)" class="lilPp histPsm"><a ><img ng-src="data:image/png;base64,{{app.image}}"  class="animated pulse lilPp img-circle"></a></td>
                    <td ng-click="getApplicant(app.studentID._id)" class="tableAddSmallEmpHist"></td>
                    <td ng-click="getApplicant(app.studentID._id)" class="appName histPmed"><a href="/profile?user={{app.studentID._id}}">{{app.studentID.name.name + " "+ app.studentID.name.surname}}</a></td>
                    <td ng-click="getApplicant(app.studentID._id)" class="tableAdd"></td>
                    <td ng-click="getApplicant(app.studentID._id)" class="tableAddSmall histPbig" ng-if="app.commentToStudent">{{app.commentToStudent}}</td>
                    <td ng-click="getApplicant(app.studentID._id)" class="tableAddSmall histPbig" ng-if="!app.commentToStudent">No Comment</td>
                    <td ng-click="getApplicant(app.studentID._id)" class="histPrating">
                        <jk-rating-stars class="employmentHistStars" max-rating="5" rating="app.studentRating" read-only="true"></jk-rating-stars>
                    </td>


                    <td ng-click="getApplicant(app.studentID._id)"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>



</div>
</div>