<!-- content -->
<div id="content">
    <div class="app-content-body text-center" ng-controller='employerProfileControl'>
        <div class="profileRating">
            <div class="numberRat">
                {{offers}}
            </div>
            <span class="small">Open offer<span ng-if="offers != 1">s</span></span>
        </div>

        <div class="text-center" ng-if="user.employerType == 'Company'">
            <div ng-if="user.employerType = 'Company'" class="row text-center " style="margin:0px;">

                <div class=" profileBox profileLeft col-md-6 ">
                    <div class="panel blueBorder cards">
                        <div  class="card-header blueBack">
                            <h4 class="font-thin m-t-none m-b-none ">Company</h4>
                        </div>

                        <div master class="wrapper" >
                            <img ng-if="showProfilePic" ng-src="data:image/png;base64,{{image}}"
                                 class="profileImage img-circle">

                            <div class="studies">
                                <ul class="list-group no-bg no-borders pull-in">
                                    <li class="list-group-item">
                                        <div class="row clear">
                                            <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                                <b class="pull-left">Company Name</b>
                                            </div>
                                            <div class="col-xs-5 profInfoCol">
                                                <small class="text-muted pull-left">{{user.company.name}}</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row clear">
                                            <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                                <b class="pull-left">Company Category</b>
                                            </div>
                                            <div class="col-xs-5 profInfoCol">
                                                <small ng-if="user.company.category != 'Other'" class="text-muted pull-left">{{user.company.category}}</small>
                                                <small ng-if="user.company.category == 'Other'" class="text-muted pull-left">{{user.company.otherCategory}}</small>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row clear">
                                            <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                                <b class="pull-left">Location</b>
                                            </div>
                                            <div class="col-xs-5 profInfoCol">
                                                <small class="text-muted pull-left">{{user.company.location.address.split(",")[1]}}</small>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="profileBox profileRight col-md-6" >
                    <div  class="panel center-col greenBorder cards" id="contact">
                        <div class="card-header greenBack">
                            <h4 class="font-thin m-t-none m-b-none ">Contact</h4>
                        </div>
                        <div ng-style="style" class="wrapper" style="overflow-y:scroll">


                            <ul class="list-group no-bg no-borders pull-in">
                                <li class="list-group-item">
                                    <div class="row clear">
                                        <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                            <b class="pull-left">Name</b>
                                        </div>
                                        <div class="col-xs-5 profInfoCol">
                                            <small class="text-muted pull-left">{{user.contact.name}} {{user.contact.surname}}</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-if="user.employerType == 'Company'">
                                    <div class="row clear">
                                        <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                            <b class="pull-left">Position in company</b>
                                        </div>
                                        <div class="col-xs-5 profInfoCol">
                                            <small class="text-muted pull-left">{{user.company.position}}</small>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item">
                                    <div class="row clear">
                                        <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                            <b class="pull-left">Contact Number</b>
                                        </div>
                                        <div class="col-xs-5 profInfoCol">
                                            <small class="text-muted pull-left">{{user.contact.contactNo}}</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row clear">
                                        <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                            <b class="pull-left">Email</b>
                                        </div>
                                        <div class="col-xs-5 profInfoCol">
                                            <small class="text-muted pull-left">{{user.contact.email}}</small>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="user.employerType == 'Individual'" class="row text-center" style="margin:0px;">
            <div class="col-md-3"></div>
            <div class=" profileBox col-md-6">
                <div class="panel  greenBorder cards" id="contactBox">
                    <div ng-style="style" class="card-header greenBack">
                        <h4 class="font-thin m-t-none m-b-none ">Contact</h4>
                    </div>
                    <div class="cards">


                        <ul class="list-group no-bg no-borders pull-in">
                            <li class="list-group-item">
                                <div class="row clear">
                                    <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                        <b class="pull-left">Name</b>
                                    </div>
                                    <div class="col-xs-5 profInfoCol">
                                        <small class="text-muted pull-left">{{user.contact.name}} {{user.contact.surname}}</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" ng-if="user.employerType == 'Company'">
                                <div class="row clear">
                                    <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                        <b class="pull-left">Position in company</b>
                                    </div>
                                    <div class="col-xs-5 profInfoCol">
                                        <small class="text-muted pull-left">{{user.company.position}}</small>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row clear">
                                    <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                        <b class="pull-left">Contact Number</b>
                                    </div>
                                    <div class="col-xs-5 profInfoCol">
                                        <small class="text-muted pull-left">{{user.contact.contactNo}}</small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row clear">
                                    <div class="col-xs-5 col-xs-offset-1 profInfoCol">
                                        <b class="pull-left">Email</b>
                                    </div>
                                    <div class="col-xs-5 profInfoCol">
                                        <small class="text-muted pull-left">{{user.contact.email}}</small>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <a ng-if="myProfile" class="btn employerButton btn-xlarge" href="/editProfile">Edit</a>

    </div>
</div>