<a href="#" id="navMenu" class="dropdown-toggle menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <ul id="menuDrop" ng-controller="employerNav" class="dropdown-menu drop">
            <li ng-controller="logoClick"><a ng-click="toDash()"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;&nbsp;Home </a></li>
            <li><a href="" ng-click="myProfile()"><i class="fa fa-user" aria-hidden="true"></i>  &nbsp;&nbsp;User Profile </a></li>
            <li><a href="/postJob"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;&nbsp;Post Job</a></li>
            <li><a href="/applicants"><i class="fa fa-users" aria-hidden="true"></i>  &nbsp;&nbsp;Applicants</a></li>
            <li><a href="/myJobPosts"><i class="fa fa-briefcase" aria-hidden="true"></i>  &nbsp;&nbsp;Open Job Offers</a></li>
            <li><a href="/pastJobPosts"><i class="fa fa-calendar" aria-hidden="true"></i>  &nbsp;&nbsp;Past Job Offers</a></li>
            <li><a href="/employmentHistory"><i class="fa fa-history" aria-hidden="true"></i>  &nbsp;&nbsp;Employment History</a></li>
            <li><a ng-click="gooiHITemployer()" href=""><i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;&nbsp;How It Works</a></li>
            <!--<li><a href="/buy">Buy</a></li>-->
            <li role="separator" class="divider"></li>
            <li>
                <a ng-click="toggleEmail()"><i class="fa fa-envelope" aria-hidden="true"></i>  &nbsp;&nbsp;Email Notifications &nbsp;&nbsp;<i class="fa {{toggle}}" style="font-size: 15px;" aria-hidden="true"></i></a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>  &nbsp;&nbsp;Log Out</a></li>
        </ul>

