<div class="ratebox">
    <h2>Rate Employer</h2>

        <img ng-src="data:image/png;base64,{{ngDialogData.image}}" class="img-circle rateImg">
        <h2>{{ngDialogData.employerID.company.name}}</h2>
        <small>{{ngDialogData.jobID.post.category}}</small>
        <form name="rateForm">
        <div class="rater">
        <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value=5 ng-model="rating" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value=4.5 ng-model="rating"/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value=4 ng-model="rating" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value=3.5 ng-model="rating"/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value=3 ng-model="rating"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value=2.5 ng-model="rating"  required/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value=2 ng-model="rating"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value=1 ng-model="rating"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value=1.5 ng-model="rating"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value=0.5 ng-model="rating"><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        </div>
            <textarea class="comment" ng-model="comment"></textarea>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-disabled="rateForm.$invalid" ng-click=" confirmEmployer(); closeThisDialog('button')")>OK</button>
        </div>
        </form>
</div>