<div ng-controller="studentEditProfile">


    <form id="studentSUForm" class="form-validation" name="studentForm" ng-submit="updateUser()">

        <h4 class="form-section-label">Talent Info</h4>
        <div class="list-group list-group-sm form-group">
            <fieldset class="form-group">
                <div class="list-group-item">
                    <input type="text" class="form-control no-border" placeholder="Name" ng-model="user.name.name" required>
                </div>
                <div class="list-group-item">
                    <input class="form-control no-border" placeholder="Surname" ng-model="user.name.surname" required>
                </div>
                <div class="list-group-item">
                    <input type="text" id="stuDob" placeholder="Date of birth" class="controls form-control no-border"  ng-model="user.dob" required>
                </div>
                <div class="list-group-item">
                    <input name="stuEmail" type="email" class="form-control no-border" placeholder="valid .ac.za email" ng-model="user.contact.email"  required>
                </div>
                <div class="list-group-item">
                    <input name="stuContact" type="text" class="form-control no-border" placeholder="Contact No." ng-model="user.contact.contactNo" pattern="^((?:\+27|27)|0)(\d{2})-?(\d{3})-?(\d{4})$" required>
                </div>
                <div class="list-group-item">
                    <input name="stuID" type="text" class="form-control no-border" placeholder="ID number" ng-model="user.IDnumber" pattern="[\d]{13,13}" required>
                </div>
                <div class="list-group-item">
                    <select class="form-control no-border" id="stuGender" name="stuGender" ng-model="user.gender" required>
                        <option value="" selected disabled>Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </fieldset>
        </div>


        <h4 class="form-section-label">Qualification Info (optional)</h4>
        <div class="list-group list-group-sm form-group">
            <fieldset class="form-group">
                <div class="list-group-item">
                    <input placeholder="Qualification Name" class="form-control no-border" ng-model="user.qualification.name">
                </div>
                <div class="list-group-item">
                    <input placeholder="Brief qualification description" class="form-control no-border" ng-model="user.qualification.description">
                </div>
                <div class="list-group-item">
                    <input placeholder="Qualification Category" class="form-control no-border" ng-model="user.qualification.category">
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Graduation Year" class="form-control no-border" ng-model="user.qualification.gradYear">
                </div>
                <div class="list-group-item">
                    <input  type="number" step="any" class="controls form-control no-border" width="50px" placeholder="GPA" ng-model="user.qualification.GPA">
                </div>
                <div id="reqGroup" class="list-group-item">

                    <div id="reqInputs">
                        <div class="reqBox" ng-repeat="req in user.results">
                            <select class="form-control no-border" ng-model="req.name" required>
                                <option value="" selected disabled>Choose Subject</option>
                                <option ng-repeat="reqName in reqNames" value="{{reqName}}">{{reqName}}</option>
                            </select>

                            <select name="how" class="form-control no-border" ng-model="req.symbol" required>
                                <option value="" selected disabled>Choose Symbol</option>
                                <option value="A">A (80-100%)</option>
                                <option value="B">B (70-79%)</option>
                                <option value="C">C (60-69%)</option>
                                <option value="D">D (50-59%)</option>
                                <option value="F">F (40-49%)</option>
                            </select>
                        </div>
                    </div>

                    <div id="reqButtonGrp" class="btn-group-vertical" role="group">

                        <button ng-if="user.results" type="button" class="removeReq btn btn-default" ng-click="close(user.results)">Remove<span class="glyphicon glyphicon-minus"></span></button>
                        <button type="button" id="addReq" class="btn btn-default" ng-click="add()">Add matric result <span class="glyphicon glyphicon-plus"></span></button>
                    </div>

                </div>
            </fieldset>
        </div>



        <button type="submit" class="btn btn-lg blueBack btn-block" >Update</button>
    </form>
</div>
<script src="../../js/helpers/userForms.js"></script>