.p
{
	font-family: '__Montserrat_5';
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.H1,.H2
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Body
{
	font-family: arimo-n4, sans-serif;
}

#u18029-4
{
	font-family: '__FontAwesome_5';
}

#u18030-4
{
	font-family: '__FontAwesome_5';
}

#u18031-4
{
	font-family: '__FontAwesome_5';
}

#u36744-4
{
	font-family: open-sans-n3, sans-serif;
}

#u36745-4
{
	font-family: open-sans-n3, sans-serif;
}

#u25304-6,#u25308-4,#u25311-4,#u25342-4,#u25345-4,#u26909-4,#u26906-4
{
	font-family: open-sans-n3, sans-serif;
}

