.p
{
	font-family: '__Montserrat_5';
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.H1,.H2
{
	font-family: pt-sans-narrow-n7, sans-serif;
}

.Body
{
	font-family: arimo-n4, sans-serif;
}

#u29036-7
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u30713,#u30716
{
	font-family: '__FontAwesome_5';
}

#u30713-4,#u37183-3,#u18594-3,#u30716-4,#u37186-3,#u18592-3,#u18603-9
{
	font-family: open-sans-n3, sans-serif;
}

#u19162-4,#u19162-6,#u19162-8,#u19162-10,#u19162-12,#u19162-14,#u19206-4,#u19206-6
{
	font-family: '__Montserrat_5';
}

