#u38670
{
	border-color: #000000;
	background: #000000 url("../../images/footer_lodyas.jpg") repeat center center;
}

#u38671
{
	border-color: #000000;
	background-color: #33B7CC;
}

#u38676
{
	background-color: transparent;
}

#u38682-7
{
	background-color: transparent;
	text-align: left;
	font-size: 24px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u38682-2,#u38682-3
{
	line-height: 9px;
}

#u38682-5
{
	line-height: 24px;
}

#u38669
{
	background-color: #ECECEC;
	background-color: rgba(188,188,188,0.28);
	-pie-background: rgba(188,188,188,0.28);
}

#u38678-4
{
	background-color: transparent;
	font-size: 11px;
	color: #737C7C;
	line-height: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u38678
{
	color: #33B7CC;
	font-family: '__FontAwesome_5';
	font-weight: 700;
}

#u38680-5
{
	background-color: transparent;
	font-weight: 400;
}

#u38673-5
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-weight: 400;
}

#u38680-3,#u38673-3
{
	font-size: 11px;
	line-height: 15px;
	color: #737C7C;
	font-family: open-sans, sans-serif;
}

#u38680,#u38673
{
	text-decoration: none;
	color: #666666;
	font-weight: 400;
}

#u38679-4
{
	background-color: transparent;
	font-size: 11px;
	color: #767471;
	line-height: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u38679
{
	color: #33B7CC;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u38681-5
{
	background-color: transparent;
	font-weight: 300;
}

#u38681-3
{
	font-size: 11px;
	text-align: right;
	line-height: 15px;
	color: #767471;
	font-family: open-sans, sans-serif;
}

#u38672-5
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-weight: 300;
}

#u38672-3
{
	font-size: 11px;
	text-align: right;
	line-height: 15px;
	font-family: open-sans, sans-serif;
}

#u38681,#u38672
{
	color: #666666;
}

#u38674
{
	background-color: #333333;
}

#u38675-9
{
	background-color: transparent;
	text-align: center;
	font-size: 6px;
	line-height: 8px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u38675-5
{
	padding-bottom: 1px;
	color: #FFFFFF;
}

#u38675-3
{
	text-decoration: underline;
}


