.version.index /* version checker */
{
	color: #0000E5;
	background-color: #E41A73;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #F4F4F4;
	padding-top: 70px;
	padding-right: 630px;
	padding-bottom: 954px;
}

.html
{
	background-color: #F4F4F4;
}

body
{
	position: relative;
	min-width: 630px;
}

@-ms-viewport
{
	width: 630px;
}

@-webkit-viewport
{
	width: 630px;
}

@-o-viewport
{
	width: 630px;
}

@-moz-viewport
{
	width: 630px;
}

@viewport
{
	width: 630px;
}

