Hi <b>{{name}}</b><br>
<br>
A password reset was requested for your O-Link account.
<br>
<br>
To confirm this request, and set a new password for your account,
please click the link below:
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #33B6CC;">Reset My Password</a>
<br>
<br>
<p style="color: grey;">(This link is valid for 30 minutes from the time this reset was first
requested)</p>
<br>
<br>
If this password reset was not requested by you, no action is needed.
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Password%20Help">help@o-link.co.za</a>.
<br>
<br>