Hi <b>{{name}}</b><br>
<br>
Your job offer for {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b>, has been edited and is now live.
<br>
<br>
You currently have applications from {{applicantCount}} students.
<br>
<br>
If you need any assistance, please email <a href="mailto:help@o-link.co.za?Subject=Employer%20Job%20Edited%20Help">help@o-link.co.za</a>.
<br>
<br>
