Hi <b>{{name}}</b>
<br>
<br>
Congratulations on posting an offer for {{#if vowel}}an{{else}}a{{/if}} <b>{{category}}</b> and
becoming one step closer to finding the student you need. Our system
will arrange a list of suitable applicants for you shortly.
<br>
<br>
If you need any assistance, email <a href="mailto:help@o-link.co.za?Subject=Job%20Live%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best with finding the student staff you need.
<br>
<br>