Congratulations <b>{{name}}</b><br>
<br>
<b>{{employer}}</b> has provisionally accepted you to work for them on <b>{{date}}</b>.
<br>
<br>
To commit to or decline the offer, please click the button below:
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #33B6CC;">View Offer</a>
<br>
<br>
You have 24 hours in which to respond. If you do not respond in that
time frame, the offer will automatically be declined.
<br>
<br>
If you need any assistance, please email <a href="mailto:help@o-link.co.za?Subject=Offer%20Made%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best in finding the jobs you desire.
<br>
<br>