Hi <b>{{name}}</b><br>
<br>
Thank you for purchasing <b>{{package}}</b> package and getting yourself one step
closer to the job you want.
<br>
<br>
Your available applications figure has been adjusted.
<br>
<br>
Applications remaining: {{applicationsLeft}}
<br>
<br>
If you need any assistance, please email <a href="mailto:help@o-link.co.za?Payments%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best in finding the jobs you desire.
<br>
<br>