Hi <b>{{name}}</b><br>
<br>
Welcome to O-Link, it’s great to have you on board.
<br>
<br>
To confirm your registration and submit a job offer, simply click
on the link below:
<br>
<br>
<a href="{{link}}" style="display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; color: white;
  text-decoration: none;
    background-color: #00b488;">Confirm My Sign Up</a>
<br>
<br>
If you need any assistance, please email <a href="mailto:help@o-link.co.za?Welcome%20Help">help@o-link.co.za</a>.
<br>
<br>
We wish you all the best in finding the Student staff you need.
<br>
<br>