<div style="margin-top: 20px; width: 100%;">
    <img src="http://154.66.197.62:8080//img/Logo_footer.png" width="80" height="80" style="margin-left:20px; float: left; ;">
    <div style="margin-top:4px; font-size: 16px; width: 100%;"><div style=" margin-top:22px; float:left;  margin-left:8px; height:70px;">Kind Regards,<br><b>The O-Link Team</b></div>
        <div style=" display:block; width: 202px; float: right; margin-top:28px; font-weight: lighter; font-size:16px;">

            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; " href="https://www.facebook.com/O-Link-269039673449190/?fref=ts ">
                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/F_icon.png"></div></a>

            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; " href="https://www.linkedin.com/company/10812533?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10812533%2Cidx%3A1-1-1%2CtarId%3A1465924100099%2Ctas%3Ao-link">
                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/square-linkedin-512.png"></div>
            </a>


            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; " href="https://twitter.com/OpportunityLink">

                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/twitter-512.png">
                    </div>

            </a>

            <a style=" text-decoration: none; vertical-align: middle;  padding-bottom: 0; float: left; margin-right:14px; " href="www.o-link.co.za">
                <div style="margin-top: 3px;"><img width="30" height="30" src="http://154.66.197.62:8080//img/web-new.png">
                </div>
            </a>

        </div>
    </div>

</div>